.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  gap: 35px;
  padding: 18px;
  margin-top: 90px;
  margin-left: 15px;
  background-color: #ffffff;
  border: 2px solid #0c2a5b;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #0c2a5b;
  font-family: "Noto Sans TC", sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-group label {
  font-weight: 700;
  font-size: 15px;
}

.form-group select {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #a2a0a0;
  font-size: 15px;
  color: #0c2a5b;
}

.checkbox {
  margin-left: 12px;
}

.search-btn {
  background-color: #0c2a5b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  cursor: pointer;
  transition: 0.25s;
}

.search-btn:hover {
  background-color: #143c85;
  transform: scale(1.05);
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
  .search-bar {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #8aa4ff;
  }

  .form-group select {
    background-color: #2a2a2a;
    color: white;
    border-color: #666;
  }

  .search-btn {
    background-color: #8aa4ff;
    color: #000;
  }
}
