.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 1050px;
  gap: 1px;
  padding: 20px;
  margin-top: 90px;
  margin-left: 10px;
  background-color: #ffffff;
  border: 2px solid #0c2a5b;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #0c2a5b;
  font-family: "Noto Sans TC", sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0;
  margin-left: 10px;
}

.form-group label {
  font-weight: 700;
  font-size: 12px;
}

.form-group select {
  padding: 3px 8px;
  border-radius: 6px;
  border: 1px solid #a2a0a0;
  font-size: 13px;
  color: #0c2a5b;
}

.checkbox {
  margin-left: 30px;
}

.search-btn {
  background-color: #0c2a5b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.25s;
  margin-left: 35px;
}

.search-btn:hover {
  background-color: #143c85;
  transform: scale(1.05);
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
  .search-bar {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #8aa4ff;
  }

  .form-group select {
    background-color: #2a2a2a;
    color: white;
    border-color: #666;
  }

  .search-btn {
    background-color: #8aa4ff;
    color: #000;
  }
}

@media (max-width: 120px) {
  .search-bar {
    width: 98vw;
    min-width: 600px;
    gap: 10px;
    padding: 10px;
    margin-left: 0;
  }
  .form-group label {
    font-size: 13px;
  }
  .form-group select,
  .form-group input {
    font-size: 13px;
    padding: 4px 8px;
  }
}
